<div class="flex-col self-center">
<h2 class="text-3xl text-white mb-10">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:'flex') do |f| %>
  <div class="field">
    <%= f.label :email, class:"text-sm font-medium text-gray-200 dark:text-gray-300" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
    class:"mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mt-8">
    <%= f.label :username, class:"text-sm font-medium text-gray-200 dark:text-gray-300" %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username",
    class:"mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mt-8">
    <%= f.label :password, class:"text-sm font-medium text-gray-200 dark:text-gray-300"  %>
    <% if @minimum_password_length %>
    <em class="text-sm text-gray-200">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",
    class:"mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mt-8">
   <%= f.label :password_confirmation, class:"text-sm font-medium text-gray-200 dark:text-gray-300" %>
    <%= f.password_field :password_confirmation, autocomplete: "current-password",
    class:"mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", class:"mt-8 cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
<% end %>

</div>