<div class="flex-col self-center">
<h2 class="text-3xl text-white mb-10">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class:'flex') do |f| %>
  <div class="field">
    <%= f.label :email, class:"text-sm font-medium text-gray-200 dark:text-gray-300" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
    class:"mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="field mt-8">
    <%= f.label :password, class:"text-sm font-medium text-gray-200 dark:text-gray-300" %>
    <%= f.password_field :password, autocomplete: "current-password",
    class:"mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mt-6">
      <%= f.check_box :remember_me, class:"w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" %>
      <%= f.label :remember_me, class:"ml-2 text-sm font-medium text-gray-300 dark:text-gray-300" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"mt-8 cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
<% end %>

<div class="flex-row mt-2">
  <%= render "devise/shared/links" %>
</div>
</div>