<div id="<%= dom_id test_entry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Wpm:</strong>
    <%= test_entry.wpm %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Accuracy:</strong>
    <%= test_entry.accuracy %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this test entry", test_entry, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this test entry', edit_test_entry_path(test_entry), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
